@model IEnumerable<OTRequest.Core.Models.Request>


<table class="table">
    <tr>
        <th>
            User
        </th>
        <th>
            DepartmentName
        </th>
        <th>
            Status
        </th>
        <th>
            TotalRamarks
        </th>
        <th>
            TotalHours
        </th>
        <th>
            Project ID
        </th>
    </tr>
    <tr>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>s
        </th>
    </tr>

</table>
