
<h2>@ViewBag.status</h2>
<div class="header-text bg-light caption p-2">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Claim ID
                    </th>
                    <th>
                        Staff Name
                    </th>
                    <th>
                        Projiect Name
                    </th>
                    <th>
                        Project Duration
                    </th>
                    <th>
                        Total Working hour
                    </th>
                </tr>
            </thead>
            <tbody>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            </tbody>
        </table>

    </div>
</div>

