<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Copyright &copy; @DateTime.Now.Year Mock Project - Fresher Academy</p>
            </div>

        </div>
    </div>
</footer>
