@{
    Layout = null;
}

<div class="modal" aria-hidden="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <img class="mb-4 img-error" src="~/assets/images/error-404-monochrome.svg" />
                            <p class="lead">This requested URL was not found on this server.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

